#icon{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    margin-bottom: 30px;
    .icon_list{
        .icon_item{
            display: inline-block;
            width: 38px;
            height: 38px;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            line-height: 38px;
            border: 1px solid #e2e2e2;
            margin: 0 7px;
            cursor: pointer;
            &:hover{
                background-color: $mainColor;
                color: $textColor;
            }
        }
    }
}