#bestSeller {
  font-family: "roboto", sans-serif;
  margin-bottom: 40px;

  .bestSeller_title {
    text-align: center;
    .bestSeller_title--main {
      @include titMain;
    }
  }
  .fade {
    transition: opacity 0.15s linear;
  }
  .bestSeller_options {
    @include flex-Center;
    margin-bottom: 50px;
    .bestSeller_options--item {
      margin: 0px 20px;
      &:hover {
        a {
          color: $textColor;
          background-color: $mainColor;
          transition: all 0.5s ease;
        }
      }
      a {
        padding: 15px 30px;
        color: $mainColor;
        border: 1px solid $mainColor;
        transition: all 0.5s ease;
      }
    }
  }
  .activeBtnTab {
    a {
      color: $textColor !important;
      background-color: $mainColor;
    }
  }
  .bestSeller_tabContent--a1,
  .bestSeller_tabContent--a2 {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: display 0s, opacity ease 0.5s, visible ease 0.5s;
    .row {
      display: flex;
    }
    @include slidebestItem;
  }
  .activeTab {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: display 0s, opacity ease 0.5s, visible ease 0.5s;
  }
}
