#banner {
  font-family: "roboto", sans-serif;
  position: relative;
  .banner_image {
    max-width: 100%;
    a {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .banner_content {
    position: absolute;
    left: 25px;
    top: 47%;
    transform: translateY(-50%);
    width: fit-content;
    padding: 30px;
    max-width: 85%;
    .banner_content--title {
      font-size: 45px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
    .banner_content--para {
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 30px;
      margin-bottom: 40px;
    }
    .banner_content--toshop {
      @include button;
      &:hover {
        background-color: #fff;
        color: black;
      }
    }
  }
}
