#featured_icon{
    font-family: 'roboto',sans-serif;
    padding-bottom: 60px;
    border-bottom: 1px solid #e7e7e7;
    .featured_icon--item{
        
        .icon_item--main{
            text-align: center;
            border: 1px solid #e1e1e1;
            height: 100%;
            padding: 20px 20px 25px;
        }
            .icon{
                color: #83b735;
                font-size: 24px;
                margin-bottom: 20px;
                svg{
                    width: 35px;
                    height: 35px;
                    fill: $mainColor;
                }
            }
            .content{
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 3.2px;
                margin: 0;
                font-weight: 500;
                line-height: 1.2;
                color: #000;
            }
            
    }
}