
// ======================= desktop first
// mobile
@media screen and (min-width: 768px) {
  #header{
    .container-v1 {
      display: block;
    }
    .menuMoblie 
    {
      display: none;
    }
  }
  
}
//Desktop
@media screen and (min-width:1024px){
  #header{
  .container-v1{
    #navbar-nav{
      .nav-link{
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
      }
      :nth-child(2){
        .shopLink{
          &::after{
            top: -18px;
          }
        }
      }
    }
    .currencies-login{
      .list-inline{
        .list-inline-item {
          padding-right: 0.1vw;
          svg{
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }
 

}
  
}
@media screen and (max-width:767px){
  .searchBar{
    .searchBar-form,
    .searchBar--result{
      padding: 0 10px ;
    }
  }
  .cartBar,
  .wishBar
  {
    width: 80%;
    right: -80%;
  }
  .contentActive{
    right: 0;
  }
  #slider{
    .item{
      .item_image{
        height: 60vh;
      }
      .item_content{
        .wrap_content{
          .wrap_content--title{
            font-size: 3.7vw;
          }
          .wrap_content--para{
            font-size: 2.5vw;
          }
        }
      }
    }
  }
  #featured{
    .featured_title{
      .featured_title--main{
        font-size: 3vh;
      }
    }
  }
  #bestSeller{
    .bestSeller_title{
      .bestSeller_title--main{
        font-size: 3vh;
      }
    }
    .bestSeller_options{
      .bestSeller_options--item{
        margin: 0 5px;
        a{
          padding: 10px 15px;
        }
      }
    }
  }
}
