
// ======================= desktop first

//Desktop

@media screen and (min-width:1024px){
  #header{
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
  .container-v1{
    display: block;
    #navbar-nav{
      .nav-link{
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
      }
      :nth-child(2){
        .shopLink{
          &::after{
            top: -18px;
          }
        }
      }
    }
    .currencies-login{
      .list-inline{
        .list-inline-item {
          padding-right: 0.1vw;
          svg{
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }
  .menuMoblie{
    display: none;
  } 
  }
  #banner{
    .banner_content{
      left: 15%;
      top: 47%;
      transform: translateY(-50%);
      width: fit-content;
      padding: 30px;
      max-width: 85%;
      .banner_content--title{
        font-size: 45px;
      }
      .banner_content--para{
        font-size: 20px;
        margin-bottom: 40px;
      }
    }
  }
}
@media screen and (max-width:1023px) {
  #banner{
    .banner_content{
      margin-left: 15px;
      top: 45%;
      .banner_content--title{
        font-size: 45px;
      }
      .banner_content--para{
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width:767px){
 
  .searchBar{
    .searchBar-form,
    .searchBar--result{
      padding: 0 10px ;
    }
  }
  .cartBar,
  .wishBar
  {
    width: 80%;
    right: -80%;
  }
  .contentActive{
    right: 0;
  }
  #slider{
    .item{
      .item_image{
        height: 60vh;
      }
      .item_content{
        .wrap_content{
          .wrap_content--title{
            font-size: 3.7vw;
          }
          .wrap_content--para{
            font-size: 2.5vw;
          }
        }
      }
    }
  }
  #featured{
    .featured_title{
      .featured_title--main{
        font-size: 3.5vh;
      }
    }
  }
  #bestSeller{
    .bestSeller_title{
      .bestSeller_title--main{
        font-size: 3.5vh;
      }
    }
    .bestSeller_options{
      .bestSeller_options--item{
        margin: 0 5px;
        a{
          padding: 10px 15px;
        }
      }
    }
    .tabContent{
      .item_options--main{
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  #banner{
    .banner_content{
      top: 45%;
      .banner_content--title{
        font-size: 20px;
      }
      .banner_content--para{
        font-size: 15px;
      }
      .banner_content--toshop{
        font-size: 10px;
      }
    }
  }
  #latestNew{
    .latestNew_title{
      font-size: 3.5vh;
      &::before{
        left: -30%;
      }
      &::after{
        right: -30%;
      }
    }
  }
  #testi {
    .testi_heading{
      .testi_heading--name{
        font-size: 3.5vh;
        
      }
    }
  }
  #instagram{
    .instagram_title{
      .instagram_title--name{
        font-size: 3.5vh;
      }
      .instagram_title--fruit{
        font-size: 3.5vh;
      }
    }
  }
  #footer{
    .footer_list{
      .footer_list--icons{
        margin-bottom: 20px;
      }
    }
    .footer_bot{
      text-align: center;
    }
  }

}
@media screen and(max-width:576px){
  #banner{
    .banner_content{
      top: 45%;
      .banner_content--title{
        font-size: 20px;
        margin-bottom: 3px;
      }
      .banner_content--para{
        font-size: 12px;
        margin-bottom: 1.5vh;
        font-weight: none;

      }
      .banner_content--toshop{
        padding: 8px 30px; 
      }
    }
  }
  #footer{
    .footer_list{
      .footer_list--icons{
        margin-bottom: 20px;
      }
    }
    .footer_bot{
      text-align: center;
    }
  }
}
@media screen and(max-width:400px){
  #banner{
    .banner_content{
      top: 45%;
      left: -5%;
      .banner_content--title{
        font-size: 2vh;
        margin-bottom: 3px;
      }
      .banner_content--para{
        font-size: 1.2vh;
        margin-bottom: 1.5vh;
        font-weight: none;
      }
      .banner_content--toshop{
        padding: 8px 30px; 
      }
    }
  }
  #footer{
    .footer_list{
      .footer_list--icons{
        margin-bottom: 20px;
      }
    }
    .footer_bot{
      text-align: center;
    }
  }
}

