@mixin button {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 15px 40px;
  color: $textColor;
  background-color: black;
  transition: 0.4s;
}
@mixin bgblur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
@mixin hoverItem {
  &:hover {
    color: $mainColor;
    transition: all 0.4s ease;
  }
}
@mixin titMain {
  font-family: "roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: $titColor;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 50px 0;
}

@mixin flex-Center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-Jsbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-Jsaround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin slidebestItem {
  .bestSeller_tabContent--item {
    position: relative;
    margin-bottom: 20px;
    .tabContent_item--image {
      img {
        width: 100%;
      }
    }
    &:hover {
      .tabContent_item--options {
        bottom: 100px;
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
      }
    }
    .tabContent_item--options {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;
      .item_options--main {
        position: relative;
        width: 80%;
        margin: auto;
        height: 0px;
        top: -26px;
        left: 0;
        right: 0;
        transition: all 0.5s ease;
        @include flex-Jsaround;
        .item_options {
          position: relative;
          background-color: #fff;
          padding: 15px;
          border-radius: 50%;
          box-shadow: 0 15px 25px rgba(27, 26, 26, 0.08);
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: $mainColor;
            .item_options--logo {
              transition: all 0.5s ease-in-out;
              color: $textColor;
            }
            #viewTitle,
            #wishTitle,
            #cartTitle {
              visibility: visible;
              opacity: 1;
              transition: all 0.5s ease;
            }
          }
          .item_options--Title {
            position: absolute;
            background-color: black;
            border-radius: 5px;
            color: $textColor;
            text-align: center;
            opacity: 1;
          }
          #viewTitle {
            top: -79%;
            left: 1px;
            padding: 5px 10px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease;
            &::before {
              content: "";
              position: absolute;
              top: 93%;
              left: 31%;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 8px solid rgb(0, 0, 0);
            }
          }
          #wishTitle {
            top: -79%;
            left: -49px;
            width: 140px;
            padding: 5px 10px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease;
            &::before {
              content: "";
              position: absolute;
              top: 88%;
              left: 46%;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;

              border-top: 8px solid rgb(0, 0, 0);
            }
          }
          #cartTitle {
            top: -79%;
            left: -49px;
            width: 140px;
            padding: 5px 10px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease;
            &::before {
              content: "";
              position: absolute;
              top: 88%;
              left: 46%;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 8px solid rgb(0, 0, 0);
            }
          }
        }
      }
    }
    .tabContent_item--name {
      background-color: #f6f6f6;
      font-size: 16px;
      font-weight: 600;
      padding-top: 20px;
      letter-spacing: 1px;
      padding-bottom: 10px;
      text-align: center;
    }
    .tabContent_item--price {
      background-color: #f6f6f6;
      padding: 15px 0;
      text-align: center;
      font-size: 15px;
      font-weight: 700;
      color: $mainColor;
    }
  }
}
