#tab{
    font-family: 'roboto',sans-serif;
    .tab_title{
        padding: 25px 0;
        font-size: 16px;
        font-weight: 500;
        transition: .3s;
        margin-right: 35px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
    }
    .tab_des{
        .tab_des--be{
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            color: #a8a8a8;
            margin-bottom: 1rem;
        }
    }
    .tab_des--image{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .tab_des--title{
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        position: relative;
        padding-bottom: 10px;
        margin: 10px 0 20px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            width: 48px;
            height: 1px;
            background: #000;
            
        }
        
    }
    .tab_des--para{
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        color: #a8a8a8;
    }
    .tab_list{
        .tab_list--item{
            margin-bottom: 1.5rem;
            .tab_list--title{
                display: inline-block;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 3.2px;
                position: relative;
                padding-bottom: 10px;
                margin: 10px 0 20px;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 48px;
                    height: 1px;
                    background: #000;
                }
            }
            .list_item--member{
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
                color: #a8a8a8;
            }
        }
    }
}